extends layout

block scripts
  script(src='/js/libs/handlebars/handlebars.js')
  script(src='/js/libs/require/require.js', data-main='/js/main')

block navigation
  .navbar.navbar-fixed-top.header.mrow
    .navbar-inner
        a.brand(href="#") Athenaeum
        ul.nav
          li.active: a(href="movies") Movies
          li: a(href="tvshows") TV Shows
          li: a(href="albums") Music
        form.navbar-form.pull-right
          a(class="btn", href="#", id="controlBtn")
            i.icon-play
          &nbsp;&nbsp;&nbsp;
          input(type="range", id="slider", value="0", min="0", max="0")
          &nbsp;&nbsp;&nbsp;
          input#search.search-query(type="text", placeholder="Search")
          &nbsp;&nbsp;&nbsp;

block content
  .body.mrow.scroll-y
    #maincontent
