<div class="container">
  <div class="row">
    <div class="span4" style="text-align: center; margin-top: 12px">
      <img src="{{ imgurl }}" width="300" height="300" class="img-polaroid">
    </div>
    <div class="span8">
      <table class="table table-hover">
        <thead>
          <tr>
            <th></th>
            <th>Track title</th>
          </tr>
        </thead>
        <tbody>
          {{#each tracks}}
            <tr>
              <td style="text-align: center">
                <i class="icon-plus-sign" title="Queue track" style="cursor: pointer" data-track-index="{{@index}}"></i>
              </td>
              <td>
                <a href="{{ this.uri }}" data-track-index="{{@index}}">{{ this.title }}</a>
              </td>
            </tr>
          {{/each}}
        </tbody>
      </table>
    </div>
  </div>
</container>
